nav ul {
    list-style: none;
    margin-top: 30px;
    margin: 10px 30px 0px 30px;
    padding: 10px;
    background-color:midnightblue
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li img {
    width: 30px;
    height: 30px;
}

nav ul li a {
    color:aliceblue;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color:burlywood;
}

main {
    margin: 0px 30px 0px 30px;
}

main p a {
    color:black;
    text-decoration: none;
}

.main-box {
    margin: 0px 30px 0px 30px;
    padding: 20px;
    border: 1px solid #ccc;
    background: white;
}

.main-box input {
    width: 90%;
    height: 30px;
    margin: 0px 0px 10px 10px;
    border: 1px solid #ccc;
}

.main-box input:focus {
    outline: none;
}

.main-box textarea {
    height: 500px;
    width: 90%;
    margin: 0px 0px 10px 10px;
    border: 1px solid #ccc;
}

.main-box button {
    width: 90%;
    margin: 0px 0px 10px 10px;
    height: 30px;
    border: none;
    background: #333;
    color: white;
    cursor: pointer;
}

.main-box button:hover {
    background: #444;
}

.main-box button:focus {
    outline: none;
}

footer {
    text-align: center;
}